.plugin_form {
    align-items: center;
    justify-content: center;
    display: flex;
}
.plugin_form_input {
    display: block!important;
    width: 320px!important;;
    height: 35px!important;;
    margin-top: 20px!important;;
    padding-left: 10px!important;;
    border-radius: 10px!important;;
    border: 2px solid #6b6b6b!important;;
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}
::placeholder {
    font-size: 14px;
    font-family: sans-serif;
}
button.submitbtn {
    width: 45%;
    padding: 15px 0;
    font-weight: 800;
    margin: auto;
    display: block;
    margin-top: 20px;
    border-radius: 30px;
    border: 1px solid #aeaeae;
    background-color: #d1cbcb;
    cursor: pointer;
}
.page-id-16 div#hb-page-title {
    display: none;
}
.page-id-16 div#main-wrapper {
    background: white !important;
}
div#pre-footer-area {
    display: none;
}
form#loginform-custom {
    max-width: 370px;
    margin: auto;
}

h2.student_login {
    text-align: center;
}

form#loginform-custom input {
    background: white;
    height: 48px;
    box-shadow: 0px 0px 13px 1px #e9e9e9;
    border: navajowhite;
}

form#loginform-custom input#wp-submit {
    background: #812781 !important;
    box-shadow: unset !important;
    width: 100%;
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: 16px !important;
    font-weight: 400 !important;
}

form#loginform-custom  p.login-remember input {
    height: auto !important;
    text-align: center !important;
    /* display: flex; */
}

form#loginform-custom  p.login-remember {
    text-align: center;
}
form#loginform-custom  p.login-username label, p.login-password label {
    display: none;
}
h2.student_login {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 42px;
    color: #000000;
}

form#loginform-custom ::placeholder {
    font-size: 14px;
    font-family: 'Source Sans Pro' !important;
    color: #323232 !important;
    line-height: normal !important;
    text-align: left;
    letter-spacing: 0 !important;
    font-weight: 600 !important;
}

form#loginform-custom input {
    box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 8%) !important;
}
p.login-remember label {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.login-remember label input {
    margin-right: 21px;
}
form#loginform-custom input#wp-submit {
    font-size: 18px !important;
    line-height: normal !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 600 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}



form#loginform-custom input {
    height: 50px !important;
}

form#loginform-custom input#wp-submit:hover {
    background: transparent !important;
    border: solid 1px #812781;
    color: #812781 !IMPORTANT;
}
p.login-remember label {
    font-family: 'Source Sans Pro' !important;
    font-weight: 600 !important;
    margin: 26px  0!important;
}

p.login-remember label {
    padding-left: 0 !important;
}


/*quiz header section style start*/

.quiz_container_section {
    background: #f4f4f4;
    text-align: center;
    padding: 70px  0px;
    font-family: 'Source Sans Pro' !important;
}

.quiz_container_section p {
    max-width: 930px;
    margin: auto;
}

.quiz_container_section h2 {
    font-family: 'Source Sans Pro' !important;
    font-size: 42px;
    margin: 0;
}

.quiz_container_section h3 {
    font-family: 'Source Sans Pro' !important;
    font-size: 24px;
    margin: 0;
}

.quiz_container_section p {
    color: #707070;
    font-size: 14px !important;
}
/*quiz header section style end*/

.page-id-9 div#hb-page-title {
    display: none;
}



.page.page-id-9 div#main-wrapper {
    background: white;
}

.page.page-id-9 div#pre-footer-area {
    display: none;
}

.plugin_form input {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.08);
    width: 370px !important;
    height: 50px !important;
    border-radius: 0 !important;
    border: none !important;
}

button.submitbtn {
    background-color: rgb(129, 39, 129);
    width: 310px;
    height: 50px;
    color: white !important;
    border-radius: 0 !important;
    margin-top: 30px;
}


#main-wrapper.hb-stretched-layout {
    background: white;
}
.progress {
    padding: 0;
}
.search_agent {
    width: 309px !important;
    background-color: transparent !important;
}

#main-wrapper.hb-stretched-layout {
    background: white !important;
}

.quiz_head {
    padding-bottom: 80px;
}

.details input {
    background: white !important;
    margin: 5px;
}

c {
    display: flex;
    align-items: center;
}

.details select {
    margin: 5px;
    padding: 0  10px!important;
    background: white;
}

.details {
    display: flex;
    align-items: center;
}

.agent_row {
    margin-top: 20px;
}
input.search_btn {
    z-index: 9 !important;
}
.plugin_form input {
    box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 8%) !important;
    background: white !important;
}

.plugin_form select {
    box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 8%) !important;
    background: white !important;
    border-radius: 0 !important;
    border: none !important;
    width: 370px !important;
    height: 50px !important;
}
.plugin_form label {
    position: relative !important;
    padding: 0 !important;
}

.plugin_form i {
    position: absolute;
    top: 20px;
    z-index: 9;
    right: 17px;
    color: #7b2b82;
    font-weight: bold !important;
}
.page.page-id-14 .hb-sidebar.col-3.hb-equal-col-height {
    display: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.plugin_form {
    flex-direction: column;
}

h2.studnet_name {
    font-family: 'Source Sans Pro' !important;
    font-size: 42px;
    font-weight: 500 !important;
}

/* #mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

#mc_embed_signup input.name {
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  font: 14px Helvetica, Arial, sans-serif;
} */