.form-control{

    width: 100%!important;
    margin-top: 7px!important;
}
.form-control_table{

    width: 100%!important;

}
.mcq_table{
    width: 100%!important
}
.mcq_table_row td{

    text-align:center!important

}
.mcq_table_row td{

    text-align:center!important

}
.mcq_table_th_row th{

    text-align:center!important

}

